body{
    font-size: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #ffbd7f, #e4a863, #cc964f);
}

.page-title{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(255, 255, 0);
    text-align: center;
    position: absolute;
    width: 100%;
}

.card{
    width: 100%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 0, 0.2);
    justify-content: space-around;
    border-radius: 30px;
    vertical-align: middle;
    margin: 30px;
    text-align: center;
    padding: 10px;
    transition: 0.5s all ease-in-out;
}

.card:hover{
    background-color: #ffbb33;
    transform: scale(1.05);
}

#top{
    margin-top: 180px;
}

.card-title{
    font-size: 2.5rem;
    text-transform: uppercase;
    font-family: 'Skranji', cursive;
}

.card-img{
    width: 465px;
    height: 261px;
    transition: 0.5s all ease-in-out;
}

.card-img:hover {
    transform: scale(1.3);
}

.card-holder{
    display: flex;
}