body {
    box-sizing: border-box;
    margin: 0;
    background: linear-gradient(to bottom, #ffbd7f, #e4a863, #cc964f);
}

.page-title {
    font-size: 1.8rem;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(255, 255, 0);
    text-align: center;
    position: absolute;
    width: 100%;
}

.card {
    width: 19%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 0, 0.2);
    justify-content: space-around;
    border-radius: 30px;
    vertical-align: middle;
    margin: 30px;
    text-align: center;
    padding: 10px;
    transition: all 0.5s;
    border-style: outset;
    border-color: #ff8f33;
    border-width: 0.7rem;
    box-shadow: 5px 10px #331c0a;
}

.card:hover {
    background-color: #ffbb33;
    transform: scale(1.15);
}

#top {
    margin-top: 13rem;
}

.card-title {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-family: 'Skranji', cursive;
}

.card-img {
    width: 348.75px;
    height: 195.75px;
    transition: 0.5s all ease-in-out;
}

.card-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#rotate:hover {
    transform: rotate(5turn);
}

#skew:hover {
    transform: skew(30deg, 20deg);
}