body {
    box-sizing: border-box;
    margin: 0;
    background: linear-gradient(to bottom, #ffbd7f, #e4a863, #cc964f);
}

.page-title {
    font-size: 1.8rem;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(255, 255, 0);
    text-align: center;
    height: 10%;
}

.card {
    width: 19%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 0, 0.2);
    justify-content: space-around;
    border-radius: 30px;
    vertical-align: middle;
    margin: 30px;
    text-align: center;
    padding: 10px;
    transition: all 0.5s;
    border-style: outset;
    border-color: #ff8f33;
    border-width: 0.7rem;
    box-shadow: 5px 10px #331c0a;
    animation: zoomIn 2s;
}

@keyframes zoomIn {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }

    50% {
        transform: scale(1.1);
        opacity: 1;
    }

    100% {
        transform: scale(1);
    }
}

.card:hover {
    background-color: #ffbb33;
    transform: scale(1.15);
}

.card-title {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-family: 'Skranji', cursive;
}

.card-img {
    width: 100%;
    height: 100%;
}

.card-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
    .card {
        width: 40%;
    }

    .page-title {
        font-size: 2rem;
    }
}

@media screen and (max-width: 800px) {
    .card {
        width: 100%;
    }

    .page-title {
        font-size: 1.3rem;
    }
}

#rotate:hover {
    transform: rotate(5turn);
}

#skew:hover {
    transform: skew(30deg, 20deg);
}

#translate:hover {
    transform: translate(0px, -20px);
}

#matrix:hover {
    transform: matrix(1.1, -0.8, 0.8, 1.05, 10, 0);
}